<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <br /><%= email_field_tag :email %> 
    <br /><%= submit_tag "Reset my password!", :class => 'enter' %>
  </div>
<% end %>