require 'bundler/capistrano'

default_run_options[:pty] = false
ssh_options[:forward_agent] = true
set :use_sudo, false
set :user, "MY_USER"

set :application, "MY_DEPLOY_SITE"
set :repository,  "git@github.com:lotze/survivedc.git"
set :scm, :git
set :branch, 'master'
set :git_shallow_clone, 1
set :deploy_via, :remote_cache
set :copy_compression, :bz2
set :rails_env, 'production'
set :deploy_to, "MY_DEPLOY_LOCATION/#{application}"

role :web, "#{application}"                          # Your HTTP server, Apache/etc
role :app, "#{application}"                          # This may be the same as your `Web` server
role :db,  "#{application}", :primary => true # This is where Rails migrations will run

# if you're still using the script/reaper helper you will need
# these http://github.com/rails/irs_process_scripts

namespace(:customs) do
  task :symlink, :roles => :app do
    run "mkdir -p #{shared_path}/system/photos"
    run "ln -fs #{shared_path}/system/photos #{release_path}/public/images/photos"
  end
  
  task :migrate, :roles => :app do
    # Run new migrations, if any
    run "cd #{release_path} && date >> log/migrations.log"
    run "cd #{release_path} && RAILS_ENV=#{rails_env} LOGFILE=log/migrations.log bundle exec rake -t db:migrate"
  end
end

namespace :deploy do
   task :start do ; end
   task :stop do ; end
   task :restart, :roles => :app, :except => { :no_release => true } do
     run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
   end
end

after "deploy:symlink","customs:symlink"
before "deploy:restart","customs:migrate" 
after "deploy", "deploy:cleanup"