<%= form_tag homescreen_path, :method => :get do %>
<%= submit_tag "Home", :class => "home" %>
<% end %>

<div class="readable_text">

<h3>The Goal</h3>
<p>Get  your manifest  stamped at  every Greek-letter checkpoint,  then  reach  the  finish  line, without being caught (tagged).<p>

<h3>Rules for Everyone</h3>
<p>The game starts when the air horn blows.  Starting early is cheating.  All ribbons must be worn on the upper arm and visible at all times.  Hiding your ribbon is cheating.  You may run, walk, use wheelchairs, or use  metro  or  buses.    Using  any  other  form  of  transportation  (cars,  bikes,  skateboards, rockets, giraffes) is cheating.  If you wish to stop playing: remove your ribbon.  Rejoining the game after quitting is cheating.  Cheating is punishable by death.  Go to the finish line to find your friends, wait for awards, or volunteer for a special role.</p>

<h3>Runners</h3>
<p>All players start as runners.  Runners wear blue ribbons (so put yours on now).  Their goal is to get to checkpoints.  Keep the orange ribbon in your pocket to use if you get caught.  You may visit checkpoints in any order.  <strong>Checkpoints close at midnight.</strong>  If the checkpoint is closed, get a stranger to sign your manifest.</p>

<h3>Chasers</h3>
<p>Chasers wear orange ribbons.  Their goal is to catch runners by tagging them.  When a chaser tags a runner, they take the runner's blue ribbon as a trophy.  The runner ties on an orange ribbon and becomes a chaser too.  <strong>Chasers must get the blue ribbon before tagging again.</strong>  You can only become a chaser by being tagged by a chaser.</p>

<h3>Safe Zones</h3>
<p>Chasers cannot tag runners inside safe zones.  Each checkpoint is inside a safe zone.  Checkpoint safe zones include both sides of bordering streets.  Metro stations and trains are safe zones, including 20 feet from station exits (top of escalators).  Buses are safe zones, including 20 feet from any bus stopped at a bus stop.  Bus stops are not safe zones without a bus.  20 feet from any police officer or security guard is a safe zone.  Please do not tag police officers; they do not usually have ribbons.</p>

<h3>Also Look For</h3>
<p><ul>
<li>Good Player Fairies are mobile safe zones; chasers may not tag within 20 feet of a Good Player Fairy.  They wear a metallic gold ribbon but do not always have wings.  They may be summoned by tweeting a plea for help with your location and the hashtags #goodplayerfairy #survivedc</li> 
<li>The Uber-Chaser can tag both runners and chasers, even within safe zones!  They wear a pink-and-black leopard-print ribbon and glowing lights.  If a chaser is tagged by the Uber-Chaser, the chaser is out of the game entirely.  The Uber-Chaser is capricious and likes riding the metro.</li>
</ul></p>

<h3>Prizes</h3>
<p>Trophies will be given shortly after midnight at the finish line.   Trophies will be given  to  the  first  runners  to  finish  and  to  the  chasers  bringing  the most  blue ribbons  to  the  finish  line by midnight.   All  runners who  finish with a completed manifest (even after midnight) get a small prize.</p>

<h3>Remember: It's a Game</h3>
<p>Don't be a jerk, and have fun.  Everyone playing is here to have  fun,  and  the  people  running  this  game  are volunteers who did a lot of work to make that happen.  Most importantly: Be Safe.  Getting caught by a chaser is not as bad as getting hit by a car.  You're still in the real world, in a city with dangers.  Be aware, and careful.</p> 

</div>
